code/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions  xmlns:typens="urn:{{var wsdl.name}}"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  name="{{var wsdl.name}}"  targetNamespace="urn:{{var wsdl.name}}">
  <!-- TYPES -->
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">

      <!-- importEntities() -->

      <!-- importEntities Request -->
      <xsd:element name="apiImportImportEntitiesRequestParam">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string"/>
            <xsd:element name="entities" type="typens:apiImportImportEntitiesArray" />
            <xsd:element name="entityType" type="xsd:string" />
            <xsd:element name="behavior" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>


      <xsd:complexType name="apiImportImportEntitiesArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:associativeArray"/>
        </xsd:sequence>
      </xsd:complexType>


      <!-- importEntities Response -->
      <xsd:element name="apiImportImportEntitiesResponseParam">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="typens:apiImportImportEntitiesResultArray" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>


      <xsd:complexType name="apiImportImportEntitiesResultArray">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>


      <!-- updateStoreViewLabelForAttributeOption() -->

      <!-- updateStoreViewLabelForAttributeOption request -->
      <xsd:element name="apiImportUpdateStoreViewLabelForAttributeOptionRequestParam">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string"/>
            <xsd:element name="attributeCode" type="xsd:string"/>
            <xsd:element name="adminLabel" type="xsd:string"/>
            <xsd:element name="storeView" type="xsd:string"/>
            <xsd:element name="storeViewLabel" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- updateStoreViewLabelForAttributeOption response -->
      <xsd:element name="apiImportUpdateStoreViewLabelForAttributeOptionResponseParam">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- deleteAttributeOptionByAdminLabel -->

      <!-- deleteAttributeOptionByAdminLabel request -->
      <xsd:element name="apiImportDeleteAttributeOptionByAdminLabelRequestParam">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string"/>
            <xsd:element name="attributeCode" type="xsd:string"/>
            <xsd:element name="adminLabel" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- deleteAttributeOptionByAdminLabel response -->
      <xsd:element name="apiImportDeleteAttributeOptionByAdminLabelResponseParam">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </wsdl:types>
  <!-- TYPES END -->

  <!-- MESSAGES -->

  <!-- importEntities() -->
  <wsdl:message name="apiImportImportEntitiesRequest">
    <wsdl:part name="parameters" element="typens:apiImportImportEntitiesRequestParam"/>
  </wsdl:message>
  <wsdl:message name="apiImportImportEntitiesResponse">
    <wsdl:part name="parameters" element="typens:apiImportImportEntitiesResponseParam"/>
  </wsdl:message>

  <!-- updateStoreViewLabelForAttributeOption() -->
  <wsdl:message name="apiImportUpdateStoreViewLabelForAttributeOptionRequest">
    <wsdl:part name="parameters" element="typens:apiImportUpdateStoreViewLabelForAttributeOptionRequestParam"/>
  </wsdl:message>
  <wsdl:message name="apiImportUpdateStoreViewLabelForAttributeOptionResponse">
    <wsdl:part name="parameters" element="typens:apiImportUpdateStoreViewLabelForAttributeOptionResponseParam"/>
  </wsdl:message>

  <!-- deleteAttributeOptionByAdminLabel() -->
  <wsdl:message name="apiImportDeleteAttributeOptionByAdminLabelRequest">
    <wsdl:part name="parameters" element="typens:apiImportDeleteAttributeOptionByAdminLabelRequestParam"/>
  </wsdl:message>
  <wsdl:message name="apiImportDeleteAttributeOptionByAdminLabelResponse">
    <wsdl:part name="parameters" element="typens:apiImportDeleteAttributeOptionByAdminLabelResponseParam"/>
  </wsdl:message>
  <!-- MESSAGES END -->

  <!-- PORTTYPE -->
  <wsdl:portType name="{{var wsdl.handler}}PortType">

    <!-- importEntities() -->
    <wsdl:operation name="apiImportImportEntities">
      <wsdl:documentation>Import entities</wsdl:documentation>
      <wsdl:input message="typens:apiImportImportEntitiesRequest" />
      <wsdl:output message="typens:apiImportImportEntitiesResponse" />
    </wsdl:operation>

    <!-- updateStoreViewLabelForAttributeOption() -->
    <wsdl:operation name="apiImportUpdateStoreViewLabelForAttributeOption">
      <wsdl:documentation>Update a store view label for a Attribute Option</wsdl:documentation>
      <wsdl:input message="typens:apiImportUpdateStoreViewLabelForAttributeOptionRequest" />
      <wsdl:output message="typens:apiImportUpdateStoreViewLabelForAttributeOptionResponse" />
    </wsdl:operation>

    <!-- deleteAttributeOptionByAdminLabel() -->
    <wsdl:operation name="apiImportDeleteAttributeOptionByAdminLabel">
      <wsdl:documentation>Remove a attribute option by adminlabel</wsdl:documentation>
      <wsdl:input message="typens:apiImportDeleteAttributeOptionByAdminLabelRequest" />
      <wsdl:output message="typens:apiImportDeleteAttributeOptionByAdminLabelResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <!-- PORTTYPE END -->

  <!-- BINDING -->
  <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <!-- importEntities() -->
    <wsdl:operation name="apiImportImportEntities">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <!-- updateStoreViewLabelForAttributeOption() -->
    <wsdl:operation name="apiImportUpdateStoreViewLabelForAttributeOption">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <!-- deleteAttributeOptionByAdminLabel() -->
    <wsdl:operation name="apiImportDeleteAttributeOptionByAdminLabel">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <!-- BINDING END -->
</wsdl:definitions>
